<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CaLLIek.pingpong">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShareActivity"></activity>
        <activity android:name=".TraineActivity" />
        <activity android:name=".InformationActivity" />
        <activity android:name=".WinActivity" />
        <activity android:name=".GameActitity" />
        <activity
            android:name=".MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tutorial.TutorialFifthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tutorial.TutorialFourthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tutorial.TutorialThirdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tutorial.TutorialSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tutorial.TutorialFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>